* {
  background-color: #051905;
  color: darkgoldenrod;
  font-family: 'Questrial', sans-serif;
  font-size: 100%;
}

body h1 {
  text-align: center;
}

body p {
  text-align: center;
}

body section {
  text-align: center;
}

body img {
  width: auto;
  height: 200px;
}